.popup__container_open-image {
    position: relative;
    margin: 41px auto 68px;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    background-color: transparent;
}

@media screen and (max-width: 576px) {
    .popup__container_open-image {
      margin-top: 136px;
    }
}