.header__auth-button {
    margin-bottom: 45px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    transition: ease-in 1s;
}

.header__auth-button:hover {
    opacity: .6;
}

@media screen and (max-width: 576px) {
    .header__auth-button {
        margin-right: 30px;
        margin-bottom: 33px;
        font-size: 14px;
        line-height: 17px;
    }
}