.popup__input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 0 13px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__input:first-of-type {
    margin-top: 54px;
}

.popup__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #c4c4c4;
}
  
.popup__input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 576px) {
    .popup__input:first-of-type {
        margin-top: 75px;
    }
}