.header__auth-info {
    order: 2;
}

@media screen and (max-width: 767px) {
    .header__auth-info {
        margin-right: 30px;
    }
}

@media screen and (max-width: 576px) {
    .header__auth-info {
        order: 0;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        text-align: center;
        border-bottom: 1px solid rgba(54, 54, 54, .7);
    }
}