.registration {
    max-width: 358px;
    margin: 0 auto;
    padding-top: 60px;
}

@media screen and (max-width: 576px) {
    .registration {
        max-width: 260px;
        padding-top: 40px;
    }
}