@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/container/container.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__auth-button/header__auth-button.css');
@import url('./blocks/header/__auth-info/header__auth-info.css');
@import url('./blocks/header/__email/header__email.css');
@import url('./blocks/header/__log-out/header__log-out.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__container/profile__container.css');
@import url('./blocks/profile/__avatar-box/profile__avatar-box.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__avatar-edit/profile__avatar-edit.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__name-box/profile__name-box.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__profession/profile__profession.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/cards/cards.css');
@import url('./blocks/card/card.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__delete-button/card__delete-button.css');
@import url('./blocks/card/__delete-button/_hidden/card__delete-button_hidden.css');
@import url('./blocks/card/__caption/card__caption.css');
@import url('./blocks/card/__name/card__name.css');
@import url('./blocks/card/__like-box/card__like-box.css');
@import url('./blocks/card/__like-button/card__like-button.css');
@import url('./blocks/card/__like-button/_active/card__like-button_active.css');
@import url('./blocks/card/__like-number/card__like-number.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container/_open/popup__container_open-image.css');
@import url('./blocks/popup/__container/_reg-status/popup__container_reg-status.css');
@import url('./blocks/popup/__status-icon/popup__status-icon.css');
@import url('./blocks/popup/__status-message/popup__status-message.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__close-button/popup__close-button.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__form-field/popup__form-field.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_type/popup__input_type_error.css');
@import url('./blocks/popup/__input-error/popup__input-error.css');
@import url('./blocks/popup/__input-error/_active/popup__input-error_active.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__submit-button/popup__submit-button.css');
@import url('./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css');
@import url('./blocks/loader-dots/loader-dots.css');
@import url('./blocks/loader-dots/_visible/loader-dots_visible.css');
@import url('./blocks/loader-dots/__dot/loader-dots__dot.css');
@import url('./blocks/dot-pulse/dot-pulse.css');
@import url('./blocks/popup/__image-box/popup__image-box.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/registration/registration.css');
@import url('./blocks/registration/__title/registration__title.css');
@import url('./blocks/registration/__form/registration__form.css');
@import url('./blocks/registration/__input/registration__input.css');
@import url('./blocks/registration/__submit-button/registration__submit-button.css');
@import url('./blocks/registration/__login/registration__login.css');
@import url('./blocks/registration/__login-caption/registration__login-caption.css');
@import url('./blocks/registration/__login-link/registration__login-link.css');
