.header {
    max-width: 880px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(54, 54, 54, .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .header {
        max-width: 320px;
    }
}